.task-item {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
}

.custom-modal {
  /* Stilizacija modala specificnog za TaskItem */
  background-color: #333;
  color: #fff;
}

.custom-modal-title {
  /* Stilizacija naslova modala specificnog za TaskItem */
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.custom-label {
  /* Stilizacija labela specificnih za TaskItem */
  color: black;
}

