.task-item {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
}


.subtask-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  transform: translateX(calc(100% - 400px));
  transition: transform .3s ease-in-out;

}
